@import "tailwindcss";

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-infinite {
  display: flex;
  width: max-content;
  animation: marquee-reverse 35s linear infinite;
}

.animate-marquee-infinite:hover {
  animation-play-state: paused;
}

